# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.d

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Eclipse
.project
.cproject
.settings

CMakeCache.txt
CMakeFiles
cmake_install.cmake
Makefile

